@import "tailwindcss";

@layer base {
  ::selection {
    background-color: rgba(6, 182, 212, 0.3);
    color: #ffffff;
  }

  /* High Density custom dark scrollbars */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0c10;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #06b6d4;
  }
}
